In [1]:
import pandas as pd
df=pd.read_csv(r"/Users/priyankamalavade/Desktop/job-market-skill-analyzer/data/raw/naukri_jobs_bengaluru.csv")
df.head()

,title,company,experience,location,description,skills,posted
0,Analyst,EY,NaN,Bengaluru,NaN,NaN,Starts in 1-3 months
1,Analyst,Deloitte Consulting,3-6 Yrs,Bengaluru,Provide Level 1 & 2 support for CAD/CAE applic...,"PLM, Supply chain, Delmia, HyperMesh, Data man...",4 days ago
2,Analyst,Goldman Sachs,1-3 Yrs,Bengaluru,Bachelor s degree in a relevant fieldRequired ...,"python, project management, confluence, proces...",2 days ago
3,Analyst,Grant Thornton,0-1 Yrs,Bengaluru,Bachelor / Post Graduation degree along with ....,"microsoft office applications, data research, ...",Today
4,Analyst,Grant Thornton,2-4 Yrs,"Bengaluru, Kolkata",Conduct and interact with US team via Skype ca...,"analysts, project management, auditing, accoun...",1 day ago

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1080 non-null   object
 1   company      1080 non-null   object
 2   experience   1056 non-null   object
 3   location     1073 non-null   object
 4   description  1062 non-null   object
 5   skills       1063 non-null   object
 6   posted       1080 non-null   object
dtypes: object(7)
memory usage: 59.2+ KB

In [3]:
df.isnull().sum()

title           0
company         0
experience     24
location        7
description    18
skills         17
posted          0
dtype: int64

In [4]:
df.describe(include="all")

,title,company,experience,location,description,skills,posted
count,1080,1080,1056,1073,1062,1063,1080
unique,627,401,71,94,917,1003,15
top,Business Analyst,Accenture,5-10 Yrs,Bengaluru,Qualifications: Any Graduation Skill required:...,"customer service, technical support, process c...",3+ weeks ago
freq,116,144,74,820,22,4,419

In [5]:
df['title'].value_counts().head(10)

title
Business Analyst                          116
Analyst                                    88
Senior Business Analyst                    24
Senior Data Analyst                        17
Business Interlock Senior Analyst          14
Business Interlock Analyst                 12
Data Analyst                               12
Analyst - L3                                9
Business Analyst - L4                       9
Data Eng, Mgmt & Governance Sr Analyst      8
Name: count, dtype: int64

In [8]:
df['location'].value_counts().head(10)

location
Bengaluru                                                          820
Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai     52
Hybrid - Bengaluru                                                  23
Bengaluru, Pune, Chennai                                            14
Remote                                                               9
Bengaluru, Chennai                                                   8
Bengaluru, Hyderabad, Chennai                                        7
Bengaluru, Hyderabad                                                 7
Hybrid - Bengaluru, Pune, Chennai                                    6
Hybrid - Bengaluru, Hyderabad, Pune                                  6
Name: count, dtype: int64

In [10]:
df["experience"].value_counts().head(10)

experience
5-10 Yrs    74
3-5 Yrs     69
5-8 Yrs     64
0-2 Yrs     61
3-8 Yrs     59
0-1 Yrs     56
0-3 Yrs     46
1-3 Yrs     44
1-4 Yrs     40
2-5 Yrs     35
Name: count, dtype: int64

In [11]:
df = df.dropna(subset=["skills"])

In [12]:
df['experience'] = df['experience'].fillna("0-0 Yrs")

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/2616163392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'] = df['experience'].fillna("0-0 Yrs")

In [13]:
df['location'] = df['location'].fillna("Unknown")
df['description'] = df['description'].fillna("")

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/777869847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location'] = df['location'].fillna("Unknown")
/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/777869847.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['description'] = df['description'].fillna("")

In [16]:
import re
def parse_experience(exp):
    exp = str(exp)
    match = re.findall(r"(\d+)", exp)
    if len(match) == 1:
        return (int(match[0]), int(match[0]))
    elif len(match) == 2:
        return (int(match[0]), int(match[1]))
    return (None, None)

In [17]:
df[['min_exp', 'max_exp']] = df['experience'].apply(parse_experience).apply(pd.Series)

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/389477743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['min_exp', 'max_exp']] = df['experience'].apply(parse_experience).apply(pd.Series)
/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/389477743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['min_exp', 'max_exp']] = df['experience'].apply(parse_experience).apply(pd.Series)

In [19]:
df[['min_exp', 'max_exp']].head()

   min_exp  max_exp
1        3        6
2        1        3
3        0        1
4        2        4
5        0        1

In [20]:
df['skills'] = df['skills'].apply(lambda x: [s.strip().lower() for s in str(x).split(",") if s.strip()])

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/3443116335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['skills'] = df['skills'].apply(lambda x: [s.strip().lower() for s in str(x).split(",") if s.strip()])

In [22]:
df['skills'].head(2)

1    [plm, supply chain, delmia, hypermesh, data ma...
2    [python, project management, confluence, proce...
Name: skills, dtype: object

In [23]:
def parse_posted(x):
    x = str(x).lower()
    if "today" in x: return 0
    if "day" in x: return int(re.search(r"(\d+)", x).group())
    if "week" in x: return int(re.search(r"(\d+)", x).group()) * 7
    if "month" in x: return int(re.search(r"(\d+)", x).group()) * 30
    return None

In [24]:
df['posted_days'] = df['posted'].apply(parse_posted)

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/3468899511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['posted_days'] = df['posted'].apply(parse_posted)

In [26]:
df['posted_days'].head()

1    4.0
2    2.0
3    0.0
4    1.0
5    1.0
Name: posted_days, dtype: float64

In [27]:
df['location'] = df['location'].apply(lambda x: [loc.strip() for loc in str(x).split(",")])

/var/folders/04/gq_w2km90pjc_9np76jkv7q80000gn/T/ipykernel_1325/1194678490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['location'] = df['location'].apply(lambda x: [loc.strip() for loc in str(x).split(",")])

In [29]:
df['location'].head(10)

1              [Bengaluru]
2              [Bengaluru]
3              [Bengaluru]
4     [Bengaluru, Kolkata]
5              [Bengaluru]
6              [Bengaluru]
7              [Bengaluru]
8              [Bengaluru]
9              [Bengaluru]
10             [Bengaluru]
Name: location, dtype: object

In [30]:
df_clean = df[['title', 'company', 'min_exp', 'max_exp', 'location', 'skills', 'posted_days']]

In [31]:
df_clean.to_csv("/Users/priyankamalavade/Desktop/job-market-skill-analyzer/data/processed/processed_jobs.csv", index=False)
print(" Data cleaning complete! Saved to data/processed_jobs.csv")

 Data cleaning complete! Saved to data/processed_jobs.csv